body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(photo/abstract\ 12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

#p-color{
    color: black;
}
.orange-color{
    color: orange;
}

#side{

    padding-left: 10px;
    padding-right: 10px;
}


.flexible-container{
    display: flex;
    margin-bottom: 80px;
}

.half-width{
    color: white;
    width: 50%;
    margin-left: 5%;
    padding: 10px;
    
}

.half-width img{
    width: 100%;
    margin-left: 5%;
    border-radius: 10px;
}


}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5%;
}

.top-banner{
    opacity: 80%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}

.experience-item{
    box-shadow: 10px 10px 20px  gray;
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}